@font-face {
    font-family: coolvetica;
    src: url(../coolvetica\ rg.otf);
}

/* PAGE - INICIO

.navbar {
    padding: 2rem;
    background-color: #371f13;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulos-principales h2 {
    font-family: 'Roboto Slab', serif;

}

.novedades {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mapa {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    background-color: #371f13;
    padding: 10px;
    margin-top: 30px;
}

 

------ PAGE ------ HABLEMOS ------

.hablemos {
    margin: 40px;
}

form {
    display: inline-flexbox;
}
*/